.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ededed;
  word-break: break-all;
  font-size: 30px;
  background: #ffffff;
  padding-left: 15px;
}
.taskTitle {
  width: 90%;
  padding: 15px 15px 15px 20px;
}
.wrapperCheckbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  text-align: start;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
